body {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    background-color: #a6dbbd;
    background-image: ("./images/background.png");
}

h2 {
    margin: 1em 0 0.25em;
    font-size: 35px;
}

h2:first-of-type {
    margin-top: 0.5em;
}
 

#getTwoRandomSquares {
    color: black;

}

#scoreTotal {

    font-size:15px;
    line-height: 15px;
  }

#restart {

    margin: auto; 
    font-size: 15px;
  }


#decreaseTime {
    font-size:10px;
}

#score-div {
font-size: 15px;
font-weight: bold;
}

/*#score-div {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   font-size:10px;
   line-height: 10px;
}
*/